/_compiled
/Anims
/Meshes
/Music
/Presets
/Sound
/Textures
/Video
/Worlds
/Scripts/Content/Cutscene/OU.BIN
/Scripts/_compiled/CAMERA.DAT
/Scripts/_compiled/FIGHT.DAT
/Scripts/_compiled/GOTHIC.DAT
/Scripts/_compiled/MENU.DAT
/Scripts/_compiled/MUSIC.DAT
/Scripts/_compiled/PARTICLEFX.DAT
/Scripts/_compiled/SFX.DAT
/Scripts/_compiled/VISUALFX.DAT
